@use 'utils';

html {
  // Забезпечує плавне прокручування до якорів (навігація по сторінці)
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
  touch-action: none;
  -webkit-overflow-scrolling: none;
}

body {
  font-family: utils.$font-main;
  line-height: 1.5;
  color: utils.$fc-main;
  background-color: utils.$bg-main;
}
