@use 'utils';

.presentation {
  margin-bottom: 110px;

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  @include utils.respond-to('tab') {
    margin-bottom: 140px;
  }

  @include utils.respond-to('desk') {
    margin-bottom: 170px;
  }
}
