@use 'sass:color';

// 1. Fonts
$font-main: 'Inter', sans-serif;
$container-width: 1194px;
$container-padding: 30px;

// 2. Color Palette (Abstract layer)
$c-white: #fff;
$c-black: #131313;
$c-teal-dark: #0c797a;
$c-teal: #39bebf;
$c-primary: #0db2b3;
$c-primary-light: #cfeff0;
$c-primary-bg: #eefafa;
$c-primary-bg-alt: #d6ecec;
$c-grey-900: #333;
$c-grey-700: #4f4f4f;
$c-grey-500: #7c7c7c;
$c-grey-450: #828282;
$c-grey-400: #bdbdbd;

// Features
$c-grey-300: #d0d0d0;
$c-grey-100: #f7f7f7;
$c-accent-ice: #d6ecec;

// 3. Functional Variables (Semantic layer)
// Backgrounds
$bg-main: $c-grey-100;
$bg-accent: $c-accent-ice; // секции Features
$bg-card: $c-white;

// Text
$fc-main: $c-grey-900;
$fc-secondary: $c-grey-700;
$fc-light: $c-grey-500;
$fc-accent: $c-primary;
$fc-features-subtitle: $c-teal-dark;

// Status & Forms
$c-error: #eb5757;
$c-success: #27ae60;
$c-input-border: $c-grey-450;
$c-input-selected: $c-teal-dark;

// Buttons - Primary (Dark)
$btn-buy-bg: $c-grey-900;
$link-hover: $c-black;
$btn-buy-hover: color.adjust($btn-buy-bg, $lightness: -10%);
$btn-buy-dis: $c-grey-300;

// Buttons - Secondary (Teal)
$btn-send-bg: $c-teal;
$btn-send-hover: #0c797a;
$btn-send-dis: $c-primary-light;
$btn-arrow-active: $c-teal-dark;

// 4. Breakpoints
$bp-tablet: 744px; // min-width для планшетної версії
$bp-desktop: 1200px; // min-width для десктопної версії
